.btn:active, 
 btn:active,
.btn:focus, 
 btn:focus,
.btn:hover, 
 btn:hover{
    border:none !important;
    outline:none !important;
    border-width:0px !important;
    color:black !important;
}

.Brand{
    color:white;
}

.Brand:hover{
    color: #82CD47;
}

.d-flex{
    height:3rem;
    margin-top:0%;
    margin-right:8rem;
    color:white
   
    
}

.btn-outline-light:hover{
    background-color: #82CD47;
}

.navb-icon:hover{
    color: #82CD47;
}


.appbar{
    margin:0% 10%;
    padding: 10% auto;
    color:white;
}

.me-2{
    width:38rem;
    color:white;
    
}

.mainappbar{
    background-color:#252A34 !important;
}