.login{
    width:50rem;
    position:absolute;
    margin:5% auto;
    background-color:#FFFFFF !important;
}

.group{
    background-color:#82CD47  !important;
}

.fgpw{
    color:#82CD47 !important;
}

.loginpage{
    height: 100vh;
    padding-left: 22.5%;
    background-color:#252A34;

}
