.login{
    width:50rem;
    position:absolute;
    margin:5% auto;
    background-color:#FFFFFF !important;
}

.group{
    background-color:#e03444 !important;
}

.fgpw{
    color:#e03444 !important;
}

.loginpage{
    height: 100vh;
    padding-left: 22.5%;
    
    background-color:#e03444;
    
}
