.cart{
    margin:4% 15%;
}

h6{
    margin-right:10%;
    
    color:grey;
}

.checkoutcard{
    margin : 10% 0%;
    background-color:#252A34;
    color:white;
    height:4.5rem;
    padding : 2% 10% 6%;

}

.btn-outline-success:hover{
    background-color: #82CD47;
}

.btn-outline-success{
    border-color: #82CD47;
    color: #82CD47;
}

p{
    margin-top:1%;
}

.checkoutbutton, .checkoutbutton:hover, .checkoutbutton:active, .checkoutbutton:visited {
    background-color: #82CD47 !important;
    color: #252A34;
    border-width:0px !important;
    margin-bottom:9%;
    width:12rem;
}

.emptycartimg{
    width:10rem;
    height:10rem;
}

.emptycart{
    margin:auto;
    padding: 10% 30%
    
}
.emptycartbutton{
    width:10rem;
   
}