.cart{
    margin:4% 15%;
}

h5{
    text-align:center;
    width:1.5rem;
}

h6{
    margin-right:10%;
    
    color:grey;
}

.checkoutcard{
    margin : 10% 0%;
    background-color:black;
    color:white;
    height:4.5rem;
    padding : 2% 10% 6%;

}

p{
    margin-top:1%;
}

.checkoutbutton, .checkoutbutton:hover, .checkoutbutton:active, .checkoutbutton:visited {
    background-color: #e03444 !important;
    border-width:0px !important;
    margin-bottom:10%;
    width:12rem;
}