.img{

    border-color:'grey';
    align-self:'center';
    width:15rem;
    height:15rem;
    background-color:white;
    
}

.desc{
    height:4.5em;
    font-size:0.7em;
    margin:10% 0%;
   
    vertical-align: text-middle;
    
}

.prodname{
    height:3rem;
    padding:5% 0%;
}

.button{
    background-color:#FF2E63 !important;
    color: white;
    padding-top:1%;

}

.card{
    padding:3%;
    background-color:#252A34;
    color:white;
}