.img{

    border-color:'grey';
    align-self:'center';
    width:15rem;
    height:15rem;
    
}

.desc{
    height:4.5em;
    font-size:0.7em;
    margin:10% 0%;
   
    vertical-align: text-middle;
    
}

.prodname{
    height:3rem;
    padding:5% 0%;
}

.button{
    background-color:chartreuse;
    color: black;
}

.card{
    padding:3%;
}