.img{
   
    width :15.5rem;
    height:13rem;
    align-self:'center';
    
}

.Stack{
    padding: 2% 2% 7% 2%;
}

.desc{
    height:3em;
    padding:5% 0%;
}

.prodname{
    height:2rem;
    padding-top:5%
}

.button{
    background-color:chartreuse;
    color: black;
}