.wallet{
    
    height:100vh;
    background-color: #82CD47;
}

.Card{
    margin: 10% auto;
    padding-bottom: 4%;
    width: 40rem;
    color: white;
}

.mt-6{
    margin-bottom: 30% auto;
    margin-top: 0;
}

.alert{
    position:fixed;
    z-index:9;
    width:30rem;
    border-width:2px;
    border-color:green;
    top: 90%;
    left: 64%;
    transform: translate(-90%, -50%);   
}

.error{
    border-color:red;
    z-index:10;
}

.text-left{
    margin-top:5%;
}