.Signup{
    margin-bottom: 10%;
    
}

.SignUpPage{
    height: 100vh;
    padding-left: 22.5%;
    background-color:#252A34;

}

.Signup h1{
    padding-bottom: 0%;
    margin-bottom: -10%;
}

.Signup .Card{
    margin: 0px auto;
}


.inputnon{
    opacity: 0;
    position: absolute;
}

.error-text{
    color: crimson;
}

.agglog{
    height: 8rem;
    margin-top: 0;
    margin-bottom: -5%;
}