.Stack{
    padding:10%,20%
}

.categSlider{
   margin:5% 10%;
   padding:0% 5%
}

.slick-prev {
    left: 3% !important;
    z-index: 1;
  }
  
.slick-next {
    right: 3% !important;
    z-index: 1;
  }

.home{
  background-color: #252A34;
  height:52rem;
  overflow-y: hidden !important;
  overflow-x: hidden !important; 
}